body {
  background-color: #f0f0ef;
}

.Book-list {
  margin: 5rem auto 0;

  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.Loan-list {
  margin: 5rem auto 0;

  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.Login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.User-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.Card-content {
  background-color: #faf0e8;
}

button.Normal-button {
  background-color: #eabc92;
  color: #93551d;
  border-radius: 0.75rem;
  margin-bottom: 0.3rem;
}

.Navbar {
  background-color: #eabc92;
  color: #93551d;
}

.Info-description {
  background-color: #eabc92;
  color: #93551d;
  border-radius: 0.5rem;
  padding: 0.25rem;
}

.Grid-container {
  background-color: #faf0e8;
  padding: 2rem;
  border-radius: 2rem;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
}

button.Main-page-button {
  background-color: #eabc92;
  color: #93551d;
  border-radius: 0.75rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
}

div.Form-box {
  backgroundcolor: '#faf0e8;';
  padding-right: '6rem';
  padding-left: '6rem';
  padding-top: '1rem';
  padding-bottom: '1rem';
  border-radius: '1.5rem';
  display: 'flex';
  flex-direction: 'column';
  align-items: 'center';
  width: 'auto';
  margin-top: '2rem';
  margin-bottom: '2rem';
}
